<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>AI 야, 나 아파😂</h1>

    <div class="input-container">
        <input type="text" name="textInput" id="textInput" placeholder="증상을 입력하세요.">
        <button id="sendBtn" type="button">보내기</button>
    </div>

    <section id="answerSection"> 
        <section id="trainingSection"></section>
    </section>


    <script src="/js/main.js"></script>
</body>
</html>